.navbar_component {
    width: 100%;
    height: auto;
    min-height: 4.5rem;
    background-color: var(--heygen--body-color);
    align-items: center;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.w-nav {
    z-index: 1000;
    background: #ddd;
    position: relative;
}
.navbar_logo-link {
    padding-left: 0;
}
.w-nav-brand {
    float: left;
    color: #333;
    text-decoration: none;
    position: relative;
}
.navbar_container {
    width: 100%;
    max-width: 77.5rem;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: .6fr 1fr auto;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    display: grid;
}
.navbar_logo {
    width: 110px;
}
img {
    max-width: 100%;
    display: inline-block;
}
#w-node {
    justify-self: center;
}
.shadows_3_pc_none {
    box-shadow: none;
}
.navbar_menu {
    justify-content: center;
    align-items: center;
    display: flex;
    position: static;
}
.navbar_menu-dropdown {
    margin-bottom: -0.5rem;
    padding-bottom: 0.5rem;
}
.navbar_dropdwn-toggle {
    grid-column-gap: 0.5rem;
    color: var(--neutral-100);
    align-items: center;
    padding: 0.5rem 1rem;
    font-weight: 500;
    display: flex;
}
.w-dropdown-toggle {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    padding-right: 40px;
    display: inline-block;
}
.navbar_link_nocolor {
    padding: 0.5rem 1rem;
    font-weight: 500;
}
.w-nav-link {
    vertical-align: top;
    color: #222;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
.button_primary_nav{
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    color: var(--neutral-10);
    text-align: center;
    background-color: transparent;
    background-image: linear-gradient(#7559ff,#5636f3);
    border-radius: 12px;
    align-items: center;
    padding: 14px 16px;
    font-weight: 500;
    display: flex;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.shadows_3 {
    box-shadow: 0 2px 4.53px rgba(117,89,255,.07), 0 7px 12.52px rgba(117,89,255,.1), 0 16px 30.15px rgba(117,89,255,.13), 0 52px 100px rgba(117,89,255,.2);
}

.w-button {
    margin-top: 10px;
    color: #fff;
    line-height: inherit;
    cursor: pointer;
    background-color: #3898ec;
    border: 0;
    border-radius: 10px;
    padding: 9px 15px;
    text-decoration: none;
    display: inline-block;
}