.hero_padding {
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.vertical-center-div {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    position: relative;
}

.max-w-740 {
    max-width: 740px;
}

.ver-center_gap-mid {
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.heygrn_hero_heading {
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
}

/* p, h1, h2, h3, h4, h5, h6 { */
h1 {
    cursor: auto;
    user-select: text !important;
}

.heygen_hero_para {
    max-width: 450px;
    color: var(--heygen--dark-purple);
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 1.3;
}

p {
    cursor: auto;
    user-select: text !important;
}

.button_primary {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    color: var(--neutral-10);
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    background-image: linear-gradient(#7559ff, #5636f3);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    padding: 14px 16px;
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.w-inline-block {
    max-width: 100%;
}

a {
    color: var(--medium-slate-blue);
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.button_primary {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    color: var(--neutral-10);
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    background-image: linear-gradient(#7559ff, #5636f3);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    padding: 14px 16px;
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.button_subtitle {
    color: rgb(59, 53, 53);
    /* color: var(--heygen--neutral-02); */
    font-weight: bold;
    margin-top: 6px;
    font-size: 12px;
    line-height: 1.3;
}

.primary_color_span {
    color: #7559ff;
    /* color: var(--heygen--primary); */
}

.logos_padding {
    width: 100%;
    margin-top: 54px;
    margin-bottom: 48px;
    position: relative;
    overflow: hidden;
}

.logos_row {
    margin-bottom: -34%;
    will-change: transform;
    animation: brand-horizontal 15s linear infinite;
}

@keyframes brand-horizontal {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 46px));
        /* Adjust the distance based on your design */
    }
}

.logos {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    /* Ensure logos don't overflow */
}

.logos_img {
    max-width: 100%;
    /* Make sure images don't exceed their container */
    /* height: auto; */
    height: 15%;
    margin-right: 15px;
    /* Add spacing between logos, adjust as needed */
}

/* Add media query for responsiveness if needed */
@media screen and (max-width: 768px) {
    .logos_img {
        margin-right: 10px;
        /* Adjust spacing for smaller screens */
    }
}

.logos {
    display: flex;
}

.logos_row {
    will-change: transform;
    animation: brand-horizontal 150s linear infinite;
}

.logos_row {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex: none;
    margin-right: 16px;
    display: flex;
}

.hero-video {
    aspect-ratio: 16/9;
    transform: scale(1.01);
    height: auto;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    object-fit: cover;
    display: flex;
    position: relative;
}

.hero_video_wrap {
    width: 100%;
    max-width: 944px;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.video_script_wrap {
    z-index: 2;
    /* width: 356px; */
    width: 80%;
    height: 10%;
    /* height: 404.291px; */
    max-width: 356px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    -webkit-backdrop-filter: blur(39px);
    backdrop-filter: blur(39px);
    background-color: rgba(255, 255, 255, .3);
    border-radius: 25px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 112px;
    margin-right: -130px;
    padding: 34px;
    display: flex;
    position: relative;
    box-shadow: 0 60px 120px rgba(11, 0, 70, .7);
}

.script_tabs {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

#script_tab1.w-node-_19293a8a-3f7c-c6bd-00d9-749ad883517d-8c4e74c2 {
    grid-area: span 1/span 1/span 1/span 1;
}

/* :root {
    --heygen--primary: #3498db; 
  } */
.script_tab.is-active {
    background-color: var(--heygen--primary);
    transform: translate(0);
    box-shadow: 0 1px 1.45px rgba(117, 89, 255, .04), 0 13px 22px rgba(117, 89, 255, .52);
}

.script_tab {
    cursor: pointer;
    border-radius: 100%;
    transition: all .2s;
}

asid {
    display: block;
}

.script_tab_img {
    width: 54px;
    border-radius: 100%;
}

img {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    border: 0;
}

#script_tab2.w-node-_0163b902-b715-43ac-6bf1-581d47c877bd-8c4e74c2 {
    grid-area: span 1/span 1/span 1/span 1;
}

#script_tab3.w-node-_0163b902-b715-43ac-6bf1-581d47c877bd-8c4e74c2 {
    grid-area: span 1/span 1/span 1/span 1;
}

:root {
    --heygen--primary: #3498db;
}

.script_heading {
    color: var(--heygen--primary);
    margin-bottom: 4.4px;
    font-size: 17.5px;
}

.script_para {
    color: var(--neutral-90);
    font-size: 20px;
    line-height: 1.3;
}

.hero-video::-webkit-media-controls,
.ai_voice_video::-webkit-media-controls,
.muted-video::-webkit-media-controls,
.muted-video::-webkit-media-controls {
    display: none !important;
}

.hero-video::-moz-media-controls,
.ai_voice_video::-moz-media-controls,
.muted-video::-moz-media-controls,
.muted-video::-moz-media-controls {
    display: none !important;
}

.hero-video::-ms-media-controls,
.ai_voice_video::-ms-media-controls,
.translator_video::-ms-media-controls,
.muted-video::-ms-media-controls {
    display: none !important;
}

.video-preview {
    aspect-ratio: 16/9;
    height: auto;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.hero-video {
    /* aspect-ratio: 16/9; */
    transform: scale(1.01);
    height: auto;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    object-fit: cover;
    display: flex;
    position: relative;
}

.hero_video_tabcontent {
    aspect-ratio: 16/9;
}
.hero-video {
    border-radius: 2rem;
    aspect-ratio: 16/9;
    transform: scale(1.01);
    height: auto;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    object-fit: cover;
    display: flex;
    position: relative;
}
.demo {
    border: 1px;
    padding: 2%;
    background-color: rgba(82, 82, 133, 0.7);
    position: absolute;
    margin-right: 35%;
    margin-top: 3%;
    color: white;
    cursor: pointer;
    font-weight: bold;
    height: 0.5rem;
    width: 100%; /* Use 100% width for responsiveness */
    max-width: 50px; /* Set a maximum width to prevent it from getting too wide */
    border-radius: 10px;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
    .demo {
        margin-right: 5%;
    }
}
.muted-video {
    aspect-ratio: 16/9;
    transform: scale(1.01);
    height: auto;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    object-fit: cover;
    display: flex;
    position: relative;
}


@media screen and (max-width: 478px) {

    .hero-video,
    .muted-video,
    .ai_voice_video,
    .translator_video,
    .footer_cta_video {
        display: none;
    }

    .video-preview {
        height: 100%;
        display: block;

    }
}

.hero-video {
    aspect-ratio: 16/9;
    transform: scale(1.01);
    height: auto;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    object-fit: cover;
    display: flex;
    position: relative;
}

video {
    vertical-align: baseline;
    display: inline-block;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.video_purple_blur {
    width: 70%;
    height: 90%;
    background-color: var(--heygen--primary);
    opacity: .5;
    filter: blur(54px);
    border-radius: 100%;
    position: absolute;
    top: -36%;
    bottom: auto;
    left: -45%;
    right: auto;
}

.btn_play_icon {
    width: 1rem;
    height: 1rem;
}
.hero_video_tabcontent.is-hidden {
    display: none;
}
.hero_video_tabcontent {
    aspect-ratio: 16/9;
}
.hero_video_tabcontent {
    width: 80%;
    aspect-ratio: 16/9;
    border-radius: 25.5px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(0,0,0,.07), 0 11px 10px rgba(0,0,0,.1), 0 20px 18px rgba(0,0,0,.13), 0 36px 32px rgba(0,0,0,.15), 0 68px 60px rgba(0,0,0,.18), 0 160px 140px rgba(0,0,0,.25);
}
.video_btn {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    color: var(--neutral-10);
    cursor: pointer;
    background-color: rgba(0,0,0,.5);
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 12px;
    align-items: center;
    padding: 15px 18px;
    font-weight: 500;
    transition: all .2s;
    display: flex;
}
.btn_play_icon {
    width: 1rem;
    height: 1rem;
}
.video_btn_wrap {
    z-index: 5;
    margin-top: 24px;
    margin-left: 24px;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
}
